<!-- HTML Produced by the Flask Form -->

<form method="POST">
    {{ search.hidden_tag() }}
    <div class="form-group">
        <fieldset id = 'search-field'>
            {{ search.searchfield(class = "form-control", placeholder = "search for cards here...") }}
        </fieldset>
    
        <!-- submit button area-->
        <span>{{ search.search(class='btn btn-primary btn-block') }}</span>
        <span>{{ search.reset(class='btn btn-secondary btn-block') }}</span>

        
    </div>
</form>