{% extends 'base.html' %}

{% block content %}



{% if current_user.is_authenticated %}

<div class = ''>
<header class="header-section">
    <h3 class = "header-text">Back 4 Blood deck builder<br>Welcome {{ current_user.email }}! </h3>
</header>
</div>


<!--
<div class="">
    <img src="../../static/images/b4b banner.jpg" alt="" style="width:100%;">
    <h3 class = "header-text">The Back 4 Blood deck builder <br> Welcome {{ current_user.email }}! </h3>
</div>
-->

<div id = 'radio-buttons'>

{% if session['show_decks'] == 'False' %}

<div  class="container-sm d-flex justify-content-center btn-group btn-group-toggle my-2" data-toggle="buttons">
    <label class="btn btn-danger active">
      <input type="radio" name="options" id="showdecksoption1" autocomplete="off" value = '{{current_user.token}}' onclick = 'showDecks()'> Show my decks
    </label>
    <label class="btn btn-outline-danger">
      <input type="radio" name="options" id="showdecksoption2" autocomplete="off" value = '{{current_user.token}}' checked> Hide my decks
    </label>
  </div>



{% else %}

<div class="container-sm d-flex justify-content-center btn-group btn-group-toggle my-2" data-toggle="buttons">
    <label class="btn btn-danger active">
      <input type="radio" name="options" id="showdecksoption1" autocomplete="off" value = '{{current_user.token}}' checked> Show my decks
    </label>
    <label class="btn btn-outline-danger">
      <input type="radio" name="options" id="showdecksoption2" autocomplete="off" value = '{{current_user.token}}' onclick = 'hideDecks()'> Hide my decks
    </label>
  </div>


<div class="container">
    <div id='save-loc'>
        <div class = "row col-12">
        {% for deck in session['my_decks'] %}
            <div class = "col-6" ><p>{{deck['deck_name']}}</p></div>   
            <div class = 'col-6'>   
                <button class="small-btn inner-btn btn btn-primary btn-sm" name = 'show' value = "{{deck['id']}}" onclick = 'showAjax(this.value)'>Show/update</button>
                <button class="small-btn inner-btn btn btn-secondary btn-sm" name = 'duplicate' value = "{{deck['id']}}" onclick = 'duplicateAjax(this.value)'>Duplicate</button>
                {% if session['deck_name'] == "" %}
                    
                    <button class="small-btn inner-btn btn btn-danger btn-sm" name = 'delete' value = "{{deck['id']}}" onclick = 'deleteAjax(this.value)'>Delete</button>
                {% else %}
                    <button class="small-btn inner-btn btn btn-danger btn-sm" name = 'delete' value = "{{deck['id']}}" disabled>Delete</button>
                {% endif %}
            </div>      
        {% endfor %}
        </div>
    </div>
</div>

{% endif %}

</div>

<div  class="container my-2">
    <div id = 'name-loc'>
    {% if session['deck_name'] != "" %}      
    <div>
        <input class="text-field rounded w-50" type="text" id="nametext" name="fname" value="{{ session['deck_name'] }}">
        <button class = "btn btn-success" value="Update" onclick = 'updateAjax()'>Update</button>
        <button class = "btn btn-warning" value="Cancel" onclick = 'cancelAjax()'>Cancel</button>
        {% if session['supply_state'] == 'True' %}
        <button class = "btn btn-outline-dark" value="HideSupply" onclick = 'hideSupplyAjax()'>Hide Supply Line Info</button>
        {% else %}
        <button class = "btn btn-dark " value="HideSupply" onclick = 'showSupplyAjax()'>Show Supply Line Info</button>
        {% endif %}
    </div>
    </div>
    {% else %}
    <div>
        <input class="text-field rounded w-50" type="text" id="nametext" name="fname" placeholder="Name deck here...">
        <button class = "btn btn-success" value="Save" onclick = 'saveAjax()'>Save</button>
        <button class = "btn btn-secondary" value="Cancel" onclick = 'cancelAjax()'>Clear</button>
        {% if session['supply_state'] == 'True' %}
        <button class = "btn btn-outline-dark" value="HideSupply" onclick = 'hideSupplyAjax()'>Hide Supply Line Info</button>
        {% else %}
        <button class = "btn btn-dark " value="HideSupply" onclick = 'showSupplyAjax()'>Show Supply Line Info</button>
        {% endif %}
    </div>
    {% endif %}

    </div>
</div>


{% else %}

<header class="header-section">
    <h3 class = "header-text">Back 4 Blood deck builder </h3>
</header>

<div id = 'deck-loc' class="container mt-2">
    <h3><span><a href="{{  url_for('auth.signin')  }}">Sign In</a></span> to save your deck and view saved decks</h3>
    <p><span><a href="{{  url_for('auth.signup')  }}">Create</a></span> an account</p>
</div>

<div class = 'container my-2'>
    <div id = 'name-loc'>
    {% if session['supply_state'] == 'True' %}
    <button class = "btn btn-outline-dark" value="HideSupply" onclick = 'hideSupplyAjax()'>Hide Supply Line Info</button>
    {% else %}
    <button class = "btn btn-dark " value="HideSupply" onclick = 'showSupplyAjax()'>Show Supply Line Info</button>
    {% endif %}
    </div>
</div>

{% endif %}

<div  class = 'container-custom'>
    <div class="card-box">
        <div id = 'add-loc'>
            <div  class = "row">
                {% if session['deck'] == [] %}
                <div class="col-12 d-flex justify-content-center">
                    <p>There are no cards in your deck</p>
                </div>
                
                {% else %}
                    {% for i in range(session['deck']| length) %}
                        {% set picture_name = session['deck'][i] | string() %}
                        {% set file_name = "images/cards/" + picture_name + ".png" %}
                        {% if i == 0 and (session['deck']| length) == 1%}
                        <div class="col-2 mb-2">
                            <img class = 'w-100' src="{{ url_for('static', filename=file_name) }}">
                            <div class="d-flex justify-content-between">
                                <button class="bi-arrow-left inner-btn btn btn-primary btn-sm mt-1" disabled></button>
                                <button class="bi-arrow-right inner-btn btn btn-primary btn-sm mt-1" disabled></button>
                            </div>
                            <button class="full-btn btn btn-danger btn-sm mt-1"  name = 'removeCard' value = "{{i}}" onclick='removeAjax(this.value)'>Remove</button>
                            
                            {% if session['supply_state'] == 'True' %}
                            <dl>
                                <dt style="font-size:.5em; color:darkred;font-style: italic;">Supply Track</dt>
                                <dd style="font-size:1em;">{{ session['supply_track'][i] }}</dd>
                                <dt style = 'font-size:.5em; color:darkred;font-style: italic;'>Supply Line</dt>
                                <dd style = 'font-size:.75em;'>{{ session['supply_line'][i] }}</dd>
                            </dl>                            
                            {% endif %}


                        </div>
                        {% elif i == 0 %}
                        <div class="col-2 mb-2">
                            <img class = 'w-100' src="{{ url_for('static', filename=file_name) }}">
                            <div class="d-flex justify-content-between">
                                <button class="bi-arrow-left inner-btn btn btn-primary btn-sm mt-1" disabled></button>
                                <button class="bi-arrow-right inner-btn btn btn-primary btn-sm mt-1" name = 'moveRightAjax' value = "{{i}}" onclick='moveRightAjax(this.value)'></button>
                            </div>
                            <button class="full-btn btn btn-danger btn-sm mt-1"  name = 'removeCard' value = "{{i}}" onclick='removeAjax(this.value)'>Remove</button>
                            

                            {% if session['supply_state'] == 'True' %}
                            <dl>
                                <dt style="font-size:.5em; color:darkred;font-style: italic;">Supply Track</dt>
                                <dd style="font-size:1em;">{{ session['supply_track'][i] }}</dd>
                                <dt style = 'font-size:.5em; color:darkred;font-style: italic;'>Supply Line</dt>
                                <dd style = 'font-size:.75em;'>{{ session['supply_line'][i] }}</dd>
                            </dl>  
                            {% endif %}

                        </div>
                        {% elif i == (session['deck']| length) - 1 %}
                        <div class="col-2 mb-2">
                            <img class = 'w-100' src="{{ url_for('static', filename=file_name) }}">
                            <div class="d-flex justify-content-between">
                                <button class="bi-arrow-left inner-btn btn btn-primary btn-sm mt-1" name = 'moveLeftAjax' value = "{{i}}" onclick='moveLeftAjax(this.value)'></button>
                                <button class="bi-arrow-right inner-btn btn btn-primary btn-sm mt-1" disabled></button>
                            </div>
                            <button class="full-btn btn btn-danger btn-sm mt-1"  name = 'removeCard' value = "{{i}}" onclick='removeAjax(this.value)'>Remove</button>
                            
                            <div >
                            {% if session['supply_state'] == 'True' %}
                            <dl>
                                <dt style="font-size:.5em; color:darkred;font-style: italic;">Supply Track</dt>
                                <dd style="font-size:1em;">{{ session['supply_track'][i] }}</dd>
                                <dt style = 'font-size:.5em; color:darkred;font-style: italic;'>Supply Line</dt>
                                <dd style = 'font-size:.75em;'>{{ session['supply_line'][i] }}</dd>
                            </dl>  
                            {% endif %}
                            </div>

                        </div>
                        {% else %}
                        <div class="col-2 mb-2">
                            <img class = 'w-100' src="{{ url_for('static', filename=file_name) }}">
                            <div class="d-flex justify-content-between">
                                <button class="bi-arrow-left inner-btn btn btn-primary btn-sm mt-1" name = 'moveLeftAjax' value = "{{i}}" onclick='moveLeftAjax(this.value)'></button>
                                <button class="bi-arrow-right inner-btn btn btn-primary btn-sm mt-1" name = 'moveRightAjax' value = "{{i}}" onclick='moveRightAjax(this.value)'></button>
                            </div>
                            <button class="full-btn btn btn-danger btn-sm mt-1"  name = 'removeCard' value = "{{i}}" onclick='removeAjax(this.value)'>Remove</button>
                            
                            {% if session['supply_state'] == 'True' %}
                            <dl>
                                <dt style="font-size:.5em; color:darkred;font-style: italic;">Supply Track</dt>
                                <dd style="font-size:1em;">{{ session['supply_track'][i] }}</dd>
                                <dt style = 'font-size:.5em; color:darkred;font-style: italic;'>Supply Line</dt>
                                <dd style = 'font-size:.75em;'>{{ session['supply_line'][i] }}</dd>
                            </dl>  
                            {% endif %}

                        </div>
                        {% endif %}  
                    {% endfor %}
                {% endif %}

                

            </div>
        </div>
    </div>
</div>

            

<div  class="container my-2">
    <div id = 'search-loc'>
        <input class="text-field rounded w-50" type="text" id="searchtext" value="{{ session['search'] }}">
        <button class = "btn btn-primary" value="Search" onclick = 'searchAjax()'>Search</button>
        <button class = "btn btn-secondary" value="Reset" onclick = 'resetAjax()'>Reset</button>
    </div>
</div>

<div  class = 'container-custom'>
    <div class="card-box">
        <div id = 'cards-loc'>
        <div  class = "row">
        {% if session['cards'] != [] %}

            {% if session['search_cards'] != 'empty' %}

            {% for card in session['search_cards'] %}
                {% set picture_name = card['id'] | string() %}
                {% set file_name = "images/cards/" + picture_name + ".png" %}
                    {% if card['id'] not in session['deck'] %}
                    <div class="col-2 mb-2">
                        <img class = 'w-100' src="{{ url_for('static', filename=file_name) }}">
                    <button class="full-btn btn btn-success btn-sm mt-1" name = 'addAjax' value = "{{card['id']}}" onclick = 'addAjax(this.value)' >Add Card</button>
                    </div>
                    {% endif %}  
        {% endfor %}


            {% else %}
                {% for card in session['cards'] %}
                    {% set picture_name = card['id'] | string() %}
                    {% set file_name = "images/cards/" + picture_name + ".png" %}
                        {% if card['id'] not in session['deck'] %}
                        <div class="col-2 mb-2">
                            <img class = 'w-100' src="{{ url_for('static', filename=file_name) }}">
                        <button class="full-btn btn btn-success btn-sm mt-1" name = 'addAjax' value = "{{card['id']}}" onclick = 'addAjax(this.value)' >Add Card</button>
                        </div>
                        {% endif %}  
                {% endfor %}
            {% endif %}             
        {% endif %}
        </div>
        </div>
    </div>
</div>

<script>
    let input = document.getElementById("searchtext");

    input.addEventListener("keyup", function(event) {         
            searchAjax()
});
</script>

<!-- 
<div>
    {% if cards != [] %}
    <h3>Here are the cards!</h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th>card id</th>
            <th>card name</th>
            <th>card description</th>
        </tr>
        {% for card in cards %}
        <tr>
            <td>{{card['id']}}</td>
            <td>{{card['card_name']}}</td>
            <td>{{card['card_description']}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h3>No cards added</h3>
    {% endif %}
</div>

-->



{% endblock content %}