{% extends 'base.html' %}

{% block content %}

{% set view = session['location'] %}


{% if current_user.is_authenticated %}

<div class = ''>
<header class="header-section">
    <h3 class = "header-text">Back 4 Blood deck builder<br>Welcome {{ current_user.email }}! </h3>
</header>
</div>


<!--
<div class="">
    <img src="../../static/images/b4b banner.jpg" alt="" style="width:100%;">
    <h3 class = "header-text">The Back 4 Blood deck builder <br> Welcome {{ current_user.email }}! </h3>
</div>
-->

<div id = 'radio-buttons'>

{% if session['show_decks'] == 'False' %}

<div class="container-sm d-flex justify-content-center btn-group btn-group-toggle my-2" data-toggle="buttons">
    <label class="btn btn-primary active">
      <input type="radio" name="options" id="option1" autocomplete="off" value = '{{current_user.token}}' onclick = 'showDecks(this.value)'> Show my decks
    </label>
    <label class="btn btn-outline-primary">
      <input type="radio" name="options" id="option2" autocomplete="off" checked> Hide my decks
    </label>
  </div>
<p>{{ session['show_decks']}}</p>
<p>{{ session['test']}}</p>



{% else %}

<div class="container-sm d-flex justify-content-center btn-group btn-group-toggle my-2" data-toggle="buttons">
    <label class="btn btn-primary active">
      <input type="radio" name="options" id="option1" autocomplete="off" checked> Show my decks
    </label>
    <label class="btn btn-outline-primary">
      <input type="radio" name="options" id="option2" autocomplete="off" value = 'test hide' onclick = 'hideDecks(this.value)'> Hide my decks
    </label>
  </div>
<p>{{ session['show_decks']}}</p>
<p>{{ session['test']}}</p>
<p>{{ session['my_decks']}}</p>

<div id='saved-loc' class="container">
    <div class = "row col-12">
    {% for deck in session['my_decks'] %}
        <div class = "col-6" ><p>{{deck['deck_name']}}</p></div>   
        <div class = 'col-6'>   
            <button class="small-btn inner-btn btn btn-primary btn-sm" name = 'show' value = "{{deck['id']}}" onclick = 'showAjax(this.value)'>Show/update</button>
            <button class="small-btn inner-btn btn btn-secondary btn-sm" name = 'duplicate' value = "{{deck['id']}}" onclick = 'duplicateAjax(this.value)'>Duplicate</button>
            {% if session['deckname'] == "" %}
                
                <button class="small-btn inner-btn btn btn-danger btn-sm" name = 'delete' value = "{{deck['id']}}" onclick = 'deleteAjax(this.value)'>Delete</button>
            {% else %}
                <button class="small-btn inner-btn btn btn-danger btn-sm" name = 'delete' value = "{{deck['id']}}" disabled>Delete</button>
            {% endif %}
        </div>      
    {% endfor %}
    </div>
</div>

{% endif %}

</div>

<div id='saved-loc' class="container">
    <div class = "col-12 d-flex justify-content-center my-2">
        <h4 class ="">Here are your saved decks</h4>
    </div>
    <div class = "row col-12">
        
            
    
    
    {% for deck in mydecks %}
    {% if deck['user_token'] == current_user.token %}
        <div class = "col-6" ><p>{{deck['deck_name']}}</p></div>   
        <div class = 'col-6'>
            <form method = 'post' action="">   
            <button class="small-btn inner-btn btn btn-primary btn-sm" type = 'submit' name = 'show' value = "{{deck['id']}}">Show/update</button>
            <button class="small-btn inner-btn btn btn-secondary btn-sm" type = 'submit' name = 'duplicate' value = "{{deck['id']}}">Duplicate</button>
            <button class="small-btn inner-btn btn btn-danger btn-sm" type = 'submit' name = 'delete' value = "{{deck['id']}}">Delete</button>
            </form>
        </div>
    {% endif %}      
    {% endfor %}
    </div>
</div>


<div id = 'deck-loc' class="container my-2" >
    {% if session['deckname'] != "" %}      
        {% include 'updatedeckform.html' %}
    {% else %}
        {% include 'newdeckform.html' %}
    {% endif %}
</div>

{% else %}

<header class="header-section">
    <h3 class = "header-text">Back 4 Blood deck builder </h3>
</header>

<div id = 'deck-loc' class="container mt-2">
    <h3><span><a href="{{  url_for('auth.signin')  }}">Sign In</a></span> to save your deck and view saved decks</h3>
    <p><span><a href="{{  url_for('auth.signup')  }}">Create</a></span> an account</p>
</div>

{% endif %}

<div  class = 'container-custom'>
    <div class="card-box">
        <div id = 'add-loc'>
            <div  class = "row">
                {% if session['deck'] == [] %}
                <div class="col-12 d-flex justify-content-center">
                    <p>There are no cards in your deck</p>
                </div>
                
                {% else %}
                    {% for i in range(session['deck']| length) %}
                        {% set picture_name = session['deck'][i] | string() %}
                        {% set file_name = "images/cards/" + picture_name + ".png" %}
                        {% if i == 0 and (session['deck']| length) == 1%}
                        <div class="col-2 mb-2">
                            <img class = 'w-100' src="{{ url_for('static', filename=file_name) }}">
                            <button class="inner-btn btn btn-primary btn-sm mt-1" disabled>Left</button>
                            <span><button class="inner-btn btn btn-primary btn-sm mt-1" disabled>Right</button></span>
                            <button class="full-btn btn btn-danger btn-sm mt-1"  name = 'removeCard' value = "{{i}}" onclick='removeAjax(this.value)'>Remove</button>
                        </div>
                        {% elif i == 0 %}
                        <div class="col-2 mb-2">
                            <img class = 'w-100' src="{{ url_for('static', filename=file_name) }}">
                            <button class="inner-btn btn btn-primary btn-sm mt-1" disabled>Left</button>
                            <span><button class="inner-btn btn btn-primary btn-sm mt-1" name = 'moveRightAjax' value = "{{i}}" onclick='moveRightAjax(this.value)'>Right</button></span>
                            <button class="full-btn btn btn-danger btn-sm mt-1"  name = 'removeCard' value = "{{i}}" onclick='removeAjax(this.value)'>Remove</button>
                        </div>
                        {% elif i == (session['deck']| length) - 1 %}
                        <div class="col-2 mb-2">
                            <img class = 'w-100' src="{{ url_for('static', filename=file_name) }}">
                            <button class="inner-btn btn btn-primary btn-sm mt-1" name = 'moveLeftAjax' value = "{{i}}" onclick='moveLeftAjax(this.value)'>Left</button>
                            <span><button class="inner-btn btn btn-primary btn-sm mt-1" disabled>Right</button></span>
                            <button class="full-btn btn btn-danger btn-sm mt-1"  name = 'removeCard' value = "{{i}}" onclick='removeAjax(this.value)'>Remove</button>
                        </div>
                        {% else %}
                        <div class="col-2 mb-2">
                            <img class = 'w-100' src="{{ url_for('static', filename=file_name) }}">
                            <button class="inner-btn btn btn-primary btn-sm mt-1" name = 'moveLeftAjax' value = "{{i}}" onclick='moveLeftAjax(this.value)'>Left</button>
                            <span><button class="inner-btn btn btn-primary btn-sm mt-1" name = 'moveRightAjax' value = "{{i}}" onclick='moveRightAjax(this.value)'>Right</button></span>
                            <button class="full-btn btn btn-danger btn-sm mt-1"  name = 'removeCard' value = "{{i}}" onclick='removeAjax(this.value)'>Remove</button>

                        </div>
                        {% endif %}  
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
</div>

            

<div  class="container my-2">
    <div id = 'search-loc'>
        <input class="text-field rounded w-50" type="text" id="searchtext" name="fname" value="{{ session['search'] }}">
        <button class = "btn btn-primary" value="Search" onclick = 'searchAjax()'>Search</button>
        <button class = "btn btn-secondary" value="Reset" onclick = 'resetAjax()'>Reset</button>
    </div>
</div>

<div  class = 'container-custom'>
    <div class="card-box">
        <div id = 'cards-loc'>
        <div  class = "row">
        {% if session['cards'] != [] %}

            {% if session['search_cards'] != 'empty' %}

            {% for card in session['search_cards'] %}
                {% set picture_name = card['id'] | string() %}
                {% set file_name = "images/cards/" + picture_name + ".png" %}
                    {% if card['id'] not in session['deck'] %}
                    <div class="col-2 mb-2">
                        <img class = 'w-100' src="{{ url_for('static', filename=file_name) }}">
                    <button class="full-btn btn btn-success btn-sm mt-1" name = 'addAjax' value = "{{card['id']}}" onclick = 'addAjax(this.value)' >Add Card</button>
                    </div>
                    {% endif %}  
        {% endfor %}


            {% else %}
                {% for card in session['cards'] %}
                    {% set picture_name = card['id'] | string() %}
                    {% set file_name = "images/cards/" + picture_name + ".png" %}
                        {% if card['id'] not in session['deck'] %}
                        <div class="col-2 mb-2">
                            <img class = 'w-100' src="{{ url_for('static', filename=file_name) }}">
                        <button class="full-btn btn btn-success btn-sm mt-1" name = 'addAjax' value = "{{card['id']}}" onclick = 'addAjax(this.value)' >Add Card</button>
                        </div>
                        {% endif %}  
                {% endfor %}
            {% endif %}             
        {% endif %}
        </div>
        </div>
    </div>
</div>

<!--JSON.parse('{{ view | tojson }}')

function getPositionY() {
    }
      window.addEventListener("load", () => {
        let loc = JSON.parse('{{ view | tojson }}');
          console.log(loc)
        if (loc != ''){
            let rect = document.getElementById(loc).getBoundingClientRect();
            let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
            let y = rect.top + scrollTop
            console.log(y)
            
            window.scrollTo({
            top: y,
            left: 0,
            behavior: 'instant',
            });
            }
        }
    )

</script>

function sessiontest() {
    '<%Session["search"] = "test2"; %>';
    var testsession = '<%= Session["search"] %>'
    console.log(testsession)
    $("#test2").load(" #test2 > *");
    let loc = JSON.parse('{{ view | tojson }}');
}    



-->

<script>

function getPositionY() {
    }
      window.addEventListener("load", () => {
        let loc = JSON.parse('{{ view | tojson }}')
          console.log(loc)
        if (loc != ''){
            let rect = document.getElementById(loc).getBoundingClientRect();
            let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
            let y = rect.top + scrollTop
            console.log(y)
            
            window.scrollTo({
            top: y,
            left: 0,
            behavior: 'instant',
            });
            }
        }
    )
 
function testupdate(value){
    test_id = value

    req = $.ajax({
            url : '/test',
            type: 'POST',
            contentType: 'application/json;charset=UTF-8',
            dataType: "json",
            data : JSON.stringify({ 'test_data' : test_id})
        })
    
        req.done(function() {
            $("#test-loc").load(location.href + " #test-loc");
        });
};






</script>


<!-- 
<div>
    {% if cards != [] %}
    <h3>Here are the cards!</h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th>card id</th>
            <th>card name</th>
            <th>card description</th>
        </tr>
        {% for card in cards %}
        <tr>
            <td>{{card['id']}}</td>
            <td>{{card['card_name']}}</td>
            <td>{{card['card_description']}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h3>No cards added</h3>
    {% endif %}
</div>

-->



{% endblock content %}